version: '3.8'

services:

  # 2. Kong Gateway (Cổng bảo vệ)
  kong:
    image: kong:latest
    container_name: wds-gateway
    environment:
      KONG_DATABASE: "off" # Chạy ở chế độ dbless để đơn giản hóa giai đoạn đầu
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      TZ: ${TZ}
    ports:
      - "8000:8000" # Cổng cho Web/Mobile gọi vào
      - "8001:8001" # Cổng quản trị API
    depends_on:
      - postgres-db
    restart: unless-stopped

  # 3. n8n (Tự động hóa thu thập dữ liệu)
  n8n:
    image: n8nio/n8n:latest
    container_name: wds-n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=${N8N_BASIC_AUTH_ACTIVE}
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      - GENERIC_TIMEZONE=${GENERIC_TIMEZONE}
      - TZ=${TZ}
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped

volumes:
  postgres_data:
  n8n_data:
